.c-sign-in-form {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 328px;
  margin-top: 40px;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;

    & .c-input__field {
      width: 100%;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
  }
}
