<form class="{{block}}">
    <div class="g-table">
        <div class="g-table__row">
            <div class="g-table__row-label">Старый пароль</div>
            {{> c-input newContext name="oldPassword" placeholder="Ваш пароль" type="password" required=true}}
        </div>
        <div class="g-table__row">
            <div class="g-table__row-label">Новый пароль</div>
            {{> c-input newContext name="newPassword" placeholder="Новый пароль" type="password" required=true}}
        </div>
        <div class="g-table__row">
            <div class="g-table__row-label">Повторите новый пароль</div>
            {{> c-input newContext name="repeatNewPassword" placeholder="Новый пароль" type="password" required=true}}
        </div>
    </div>

    {{> c-button newContext label="Сохранить" type="submit" classes=(classElement block "submit")}}
</form>

