@use '../../../../themes/colors' as c;

.c-profile-edit-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;

  & .c-input__field {
    border-bottom: none;
    text-align: right;
    color: c.$disabled;
  }

  &__submit {
    width: 280px;
    margin: 0 auto;
  }
}
