<div class="g-pane g-page g-page_center">
    <h1>Навигация</h1>
    <p>Страницы приложения</p>
    <nav class="g-flex g-flex_dir_column g-flex_align_start g-flex_justify_center">
        {{> c-link href="/chat" label="Чат"}}
        {{> c-link href="/login" label="Авторизация"}}
        {{> c-link href="/sign-in" label="Регистрация"}}
        {{> c-link href="/profile" label="Профиль"}}
        {{> c-link href="/profile/edit" label="Редактировать профиль"}}
        {{> c-link href="/profile/change-password" label="Изменить пароль"}}
        {{> c-link href="/werwer" label="Ошибка"}}
    </nav>
</div>
