* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  border: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

a, button {
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
