@use 'src/themes/colors' as c;
@use 'src/themes/vars' as v;

.c-chat-message-input {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: v.$h-c-chat-message-input;
  padding-top: 10px;
  border-top: 1px solid c.$disabled;

  &__attachment {
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;

    .c-input {
      width: 100%;
    }

    .c-button {
      margin-left: 10px;
    }
  }
}
